<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande</title>
    <link rel="stylesheet" href="../public/css/commande.css">
    <script src="https://kit.fontawesome.com/a6db07c55e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Section header -->
    
    <div class="header-section">
        <div class="stiky-nav">
            <div class="container">
                <%- include('nav') %>
                
                <header class="navbar">
                    <div class="logo">
                        <a href="/"><img src="../public/images/shopping-cart-ga97fd2286_1280.png" alt=" shopping cart"></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/" class="index">Accueil</a></li>
                            <li><a href="/homme">Homme</a></li>
                            <li><a href="/femme">Femme</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>

        <div class="container">

           
            <h2 class="title-commande">Finalisation de la commande</h2>
            <div class="content-panier">
                <div class="row">
                    <div class="content-boxPan">
                        <div>
                            <div class="info-user">
                                <div class="header-adresse">
                                    <p>Adresse de Commande</p>
                                    <a href="">Modifier</a>
                                </div>
                                <div class="body-adresse">
                                    <p><span class="user-name">Penuel Essoh</span><br> <span>Angré chateau, Cocody Angré</span> <br> +225 0778684509 <br><span>penuel225@gmail.com</span></p>
                                </div>
                            </div>
                            <div class="mode-livraison">
                                <div class="header-livraison">
                                    <p>Mode de Livraison</p>
                                </div>
                                <div class="body-livraison">
                                    <div class="box-moto">
                                        <div class="box-livraison-moto">
                                            <input type="radio" name="livraison-mode">
                                            <img src="../public/images/255.jpeg" alt="">
                                        </div>
                                        <div>
                                            <p class="descrip-moto">à moto (Si vous résidez à Abidjan)</p>
                                        </div>
                                        <div>
                                            <p>Livraiison en 24h</p>
                                        </div>
                                        <div>
                                            <p>1500 CFA</p>
                                        </div>
                                    </div>
                                    <div class="box-expresse">
                                        <div class="box-livraison-expresse">
                                            <input type="radio" name="livraison-mode">
                                            <img src="../public/images/273.jpeg" alt="">
                                        </div>
                                        <div>
                                            <p class="descrip-expresse">Livraison expresse (Livraison à Abidjan)</p>
                                        </div>
                                        <div>
                                            <p>Livraison en 5h maximum</p>
                                        </div>
                                        <div>
                                            <p>4000 CFA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mode-paiement">
                                <div class="header-paiement">
                                    <p>Paiement</p>
                                </div>
                                <div class="body-paiement">
                                    <div>
                                        <input id="arrivee" type="radio" name="paiement-mode" value="arrivee" checked>
                                        <label for="arrivee">Paiement comptant à la livraison</label>
                                    </div>
                                    <div>
                                        <input disabled type="radio" name="paiement-mode">
                                        <label style="color: #999;" for="">Payer avec Mobile Money ou par Carte Bancaire</label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="confirm-commande">
                                <div>
                                    <div class="box-confirm-commande">
                                        <div>
                                            <p>Sous-total</p>
                                            <p><span>11000 </span>CFA</p>
                                        </div>
                                        <div>
                                            <p>Frais de livraison et droit de timbre </p>
                                            <p><span>1500 </span>CFA</p>
                                        </div>
                                    </div>
                                    <div class="box-confirm-commande">
                                        <div>
                                            <p class="total">Total</p>
                                            <p class="total-para-prix"><span>12500 </span>CFA</p>
                                        </div>
                                    </div>
                                    <div class="commande">
                                        <a href="">Confirmer la commande</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="box-commande">
                        <div class="box-pan">
                            <div class="box-taxe">
                                <div>
                                    <p><span>1 </span>Articles</p>
                                    <p><span>11000 </span>CFA</p>
                                </div>
                                <div>
                                    <p>Livraison <span> </span>CFA</p>
                                    <p><span>1500 </span>CFA</p>
                                </div>
                            </div>
                            <div class="box-taxe">
                                <div>
                                    <p>Sous-total</p>
                                    <p><span>0 </span>CFA</p>
                                </div>
                                <div>
                                    <p class="total">Total</p>
                                    <p class="total-para-prix"><span>12500 </span>CFA</p>
                                </div>
                            </div>
                            <div class="commande">
                                <a href="">Retour au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">

        </div>
    </footer>


    <script src="../public/js/script.js"></script>
</body>
</html>