<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../public/css/detail.css">
    <script src="https://kit.fontawesome.com/a6db07c55e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Section header -->
    
    <div class="header-section">
        <div class="stiky-nav">
            <div class="container">
                <%- include('nav') %>
                
                <header class="navbar">
                    <div class="logo">
                        <a href="/"><img src="../public/images/shopping-cart-ga97fd2286_1280.png" alt=" shopping cart"></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/" class="index">Accueil</a></li>
                            <li><a href="/homme">Homme</a></li>
                            <li><a href="/femme">Femme</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>

        <div class="container">
            <div class="content-detail">
                <div class="row">
                    <div class="col-img">
                        <img src="../public/images/banner-image.webp" alt="">
                    </div>
                    <div class="col-infos">
                        <div>
                            <h2 class="article-name"> Aire-max</h2>
                            <p><span class="marque-title">Marque : </span><span class="marque">Nike</span></p>
                            <p><span class="ref-title">Ref : </span><span class="reference">0009</span></p>
                        </div>
                        <div class="descriptions">
                            <p class="description-title">Description</p>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque unde fugit, eum amet ipsam laborum aut nobis.</p>
                        </div>
                        <div class="box-prix">
                            <div>
                                <p class="price-para"><span class="prix">15000</span> CFA</p>
                                <p class="qte">Quantité</p>
                                <!-- <input type="number"> -->
                                <div class="calcul-price">
                                    <div>
                                        <input type="button" value="-">
                                        <input type="text" value="1" disabled>
                                        <input type="button" value="+">
                                    </div>
                                </div>
                                <a class="ajout-panier" href="">Ajouter au panier</a>
                                <a class="achat-rapide" href="">Achat rapide</a>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">

        </div>
    </footer>


    <script src="../public/js/script.js"></script>
</body>
</html>