<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page d'accueil</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="https://kit.fontawesome.com/a6db07c55e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Section header -->
    
    <div class="header-section">
        <div class="stiky-nav">
            <div class="container">
                <div class="content-search">
                    <div class="box-search">
                        <h3>search</h3>
                        <form action="">
                            <input type="text" name="" placeholder="Nom de l'article...">
                            <input type="submit" value="Recherche">
                        </form>
                    </div>
                    <div class="box-login">
                        <div class="login">
                            <a href=""><i class="fas fa-user"></i></a> 
                            <a href=""><span>Login</span></a> 
                        </div>
                        <img src="../public/images/cart-gf74a8959d_1280.png" alt="pannier-icon" width="30px">
                    </div>
                </div>
                <header class="navbar">
                    <div class="logo">
                        <a href="/"><img src="../public/images/shopping-cart-ga97fd2286_1280.png" alt=" shopping cart"></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="">Accueil</a></li>
                            <li><a href="">Homme</a></li>
                            <li><a href="">Femme</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
        <div class="container">
            
            <div class="row">
                <div class="col-2">
                    <h1>Donnez du gôut à <br>votre vie avec un nouveau style !</h1>
                    <p>Le succes n'est pas toujours une question de grandeur.<br> C'est une question de cohérence. Un travail acharné et consistant gagne du succèss. La grandeur viendra</p>
                    <a href="">Explorez maintenant &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="../public/images/banner-image.webp" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="info-categorie">
        <div class="container content-categorie-title">
            <h2 class="titre-categorie">Tous les articles</h2>
        </div>
    </div>

    <!-- Section des categories -->
    <!-- <div class="categories">
        <div class="container">
            <h2>Catégories</h2>
        <div class="row">
            <div class="col-2">
                <img src="../public/images/Images site ecommerce/category-1.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="../public/images/Images site ecommerce/category-2.jpg" alt="">
            </div>
            <div class="col-2">
                <img src="../public/images/Images site ecommerce/category-3.jpg" alt="">
            </div>
        </div>
        </div>
    </div> -->

    <!-- Meilleurs produits -->
    <div class="featured-products">
        <div class="container">
            <h2>Produits récents</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-1.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-2.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-3.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-4.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Nos derniers produits -->
    <div class="featured-products">
        <div class="container">
            <h2>Derniers Produits</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-5.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-6.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-7.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-8.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-9.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-10.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-11.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../public/images/Images site ecommerce/product-12.jpg" alt="">
                    <h3>T-shirt Rouge</h3>
                    <!-- <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div> -->
                    <p>5000 fcfa</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">

        </div>
    </footer>

</body>
</html>