<div class="content-search">
    <div class="box-search">
        <form action="">
            <input type="text" name="" placeholder="Nom de l'article...">
            <input type="submit" value="Recherche">
        </form>
    </div>
    <div>
        <div class="box-login">
            <div class="login">
                <a href=""><i class="fas fa-user"></i></a> 
                <a href=""><span>Login</span></a> 
            </div>
            <a href="/panier"><img src="../public/images/cart-gf74a8959d_1280.png" alt="pannier-icon" width="30px"></a>
            
        </div>
        <div class="connexion">
            <a href="/connexion" class="seConnecter">Se connecter</a>
            <p><a href="">Nouveau client ?</a> Créez un compte</p>
        </div>
    </div>
    
</div>
