@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Montserrat:wght@200&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 20px auto;
    max-width: 1200px;
    padding: 0px 20px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.stiky-nav{
    margin-top: -20px;
    position: sticky;
    top: 0px;
    background: linear-gradient(#eaf2fB, #fff);
}
.logo img{
    height: 70px;
    border-radius: 3px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style-type: none;
    /* display: inline-block; */
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #555;
    text-transform: capitalize;
    font-size: 1.5rem;
    transition: color 0.5s;
}
nav ul li a:hover{
    color: #16a7b4;
}
nav ul li a.homme{
    color: #16a7b4;
}
/* .login{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    background: #555;
    border-radius: 50%;
} */

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
    padding: 30px 0px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    padding: 25px 0px;
}
p{
    color: #555;
}
.col-2 a{
    text-decoration: none;
    background: #16a7b4;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin: 25px;
    transition: background 0.3s;
}
.col-2 a:hover{
    background: #054449;
}
.header-section{
    background: linear-gradient(#fff, #eaf2fB);
    height: 100vh;
    /* overflow: auto; */
}
/* Style categorie */
.info-categorie{
    background: linear-gradient(to bottom, #fff, #adc8e7);
    height: 200px;
}
.content-categorie-title{
    line-height: 200px;
}

.titre-categorie{
    font-size: 5rem !important;
}

.content-search{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.box-search form input{
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.box-search{
    width: 500px;
}
.box-search h3{
    color: #555;
    margin-left: 20px;
}
.box-search form input[type="text"]{
     width: 300px;
     height: 50px;
     border: none;
     outline: none;
     padding: 0px 25px;
     border-radius: 25px 0px 0px 25px;
}
.box-search form input[type="submit"]{
     width: 150px;
     height: 50px;
     border: none;
     outline: none;
     padding: 0px 25px;
     border-radius: 0px 20px 20px 0px;
     background: #16a7b4;
    color: #fff;
    cursor: pointer;
}

.box-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    float: right;
}
.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login a{
    text-decoration: none;
    color: #555;
}
.login img{
    border-radius: 50%;
    width: 50px;
    margin-right: 5px;
}
.login a{
    text-decoration: none;
    color: #555;
}

/* Style des categories */
/* .categories{
    margin: 70px 0px;
} */
.col-3{
    flex-basis: 33%;
    min-width: 250px;
    margin: auto;
}
.col-3 img{
    width: 100%;
}
.container h2{
    text-align: center;
    font-size: 2.2rem;
    color: #555;
    margin: 25px 0px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100% ;
}
.col-4:hover{
    transform: translateY(-10px);
    /* box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}
.rating .fas{
    color: #16a7b4;
}

/* Footer */
footer{
    background-color: rgb(48 49 50);
    background: rgb(48 49 50);
    height: 250px;
    margin-top: 20px;
}

/* style connexion */
.connexion{
    padding: 15px 20px;
    background: #fff;
    float: right;
    position: absolute;
    margin-top: 45px;
    right: 1%;
    float: right;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 1s ease;
}
.connexion a{
    text-decoration: none;
    color: #16a7b4;
}

.connexion p{
    margin-top: 10px;
}
.connexion .seConnecter{
    text-align: center;
    background-color: #555;
    padding: 7px;
    display: block;
    color: #fff;
}

.afficheConnexion{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}